.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 300px;
    font-size: 30px;
    text-align: center;
}

.log {
    width: 300px;
    font-size: 30px;
    text-align: center;
}
