.container {
    width: 466px;
    height: 466px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/** font size only support 30 and 38 **/
.title {
    width: 466px;
    text-align: center;
    font-size: 38px;
}

.loader {
    width: 64px;
    height: 64px;
    animation-duration: 1500ms;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
    animation-name: loader;
}

.loading_text {
    margin-top: 16px;
    width: 400px;
    font-size: 30px;
    text-align: center;
}

.refresh_button {
    width: 300px;
    font-size: 30px;
    text-align: center;
}

.error_text {
    width: 400px;
    font-size: 30px;
    text-align: center;
}

.retry_text {
    background-color: dodgerblue;
    border-radius: 32px;
    margin-top: 32px;
    width: 240px;
    height: 64px;
    font-size: 30px;
    text-align: center;
}

@keyframes loader
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
