.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-top: 32px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.loading_text {
    text-color: white;
    font-size: 18fp;
    margin-top: 8px;
}

.refresh_button {
    width: 300px;
    font-size: 30px;
    text-align: center;
}

.error_text {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 18px;
    text-align: center;
}

.retry_text {
    background-color: dodgerblue;
    border-radius: 32px;
    margin-top: 8px;
    width: 120px;
    height: 32px;
    font-size: 20px;
    text-align: center;
}

.list_item_div {
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
