.container {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.list_item_div {
    width: 100%;
    height: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_text {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

.loading_text {
    margin-top: 16px;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

.loader {
    width: 64px;
    height: 64px;
    animation-duration: 1500ms;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
    animation-name: loader;
}

.retry_text {
    background-color: dodgerblue;
    border-radius: 32px;
    margin-top: 32px;
    width: 240px;
    height: 64px;
    font-size: 30px;
    text-align: center;
}

@keyframes loader
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
